<div class="component-class">

    <div class="logo">
        <img src="./../../../assets/logo.svg">
        <div class="title">
            PlaceBook
        </div>
    </div>

    <div class="container">

        <div class="title">
            Register to PlaceBook
        </div>

        <form class="loginForm" [formGroup]="registerForm">
            <div class="loginInputs">
                <div class="section">
                    <div class="sectionTitel">
                        Full Name
                    </div>
                    <div class="sectionInput">
                        <input type="text" class="inputTag" formControlName="name">
                    </div>
                </div>
                <div class="section">
                    <div class="sectionTitel">
                        Email
                    </div>
                    <div class="sectionInput">
                        <input type="email" class="inputTag" formControlName="email">
                    </div>
                </div>
                <div class="section">
                    <div class="sectionTitel">
                        Password
                    </div>
                    <div class="sectionInput">
                        <input type="password" class="inputTag" formControlName="password">
                    </div>
                </div>
            </div>

            <button class="btn" type="submit" (click)="onSubmit()">Register</button>
            <div class="loginLink">
                <div class="text"> have an account?</div> <a class="LoginHyper" (click)="goTo('auth/login')">Login</a>
            </div>
        </form>


    </div>

</div>