/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "sf-ui-display-black";
    src: url("./assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-black-58646a6b80d5a.woff");
}

@font-face {
    font-family: "sf-ui-display-bold";
    src: url("./assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-bold-58646a511e3d9.woff");
}

@font-face {
    font-family: "sf-ui-display-heavy";
    src: url("./assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-heavy-586470160b9e5.woff");
}

@font-face {
    font-family: "sf-ui-display-light";
    src: url("./assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-light-58646b33e0551.woff");
}

@font-face {
    font-family: "sf-ui-display-medium";
    src: url("./assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-medium-58646be638f96.woff");
}

@font-face {
    font-family: "sf-ui-display-semibold";
    src: url("./assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-semibold-58646eddcae92.woff");
}

@font-face {
    font-family: "sf-ui-display-thin";
    src: url("./assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-thin-58646e9b26e8b.woff");
}

@font-face {
    font-family: "sf-ui-display-ultralight";
    src: url("./assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-ultralight-58646b19bf205.woff");
}